.content {
  &__customers {
    display: none;

    @media (min-width: 992px) {
      display: block;
      position: relative;
      width: 100%;
      max-width: 968px;
      height: 812px;
      padding: 30px 44px 40px 38px;
      background-color: #ffffff;
      border-radius: 30px;
      margin-top: 51px;
    }
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 44px;
  }

  &__table-body {
    font-weight: 500;
    letter-spacing: -1%;
  }

  &__caption {
    text-align: left;
    margin-left: 30px;

    @media (min-width: 992px) {
      margin-left: 0;
    }
  }

  &__caption-customer {
    font-size: 22px;
    font-weight: 600;
  }

  &__caption-status {
    color: var(--c-status);
    margin-top: 7px;
  }

  &__status {
    width: 80px;
    height: 29px;
    padding-block: 4px;
    border: 1px solid;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
  }

  &__status-active {
    color: var(--c-active);
    background-color: var(--c-background-active);
  }

  &__status-inactive {
    color: var(--c-inactive);
    background-color: var(--c-background-inactive);
  }

  &__datas {
    color: var(--c-data);
  }

  &__title {
    font-size: 24px;
    font-weight: 500;

    margin: 41px 0 51px 30px;

    @media (min-width: 1200px) {
      margin: 41px 0 51px;
    }
  }

  &__mobile-customers {
    display: block;

    @media (min-width: 992px) {
      display: none;
    }
  }

  &__mobile-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
  }

  &__mobile-items {
    background-color: var(--c-white);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
  }

  &__mobile-container {
    display: flex;
    gap: 20px;
  }

  &__mobile-info {
    padding-bottom: 15px;
  }

  &__mobile-user {
    font-weight: 600;
  }
}
